@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/** home section **/

#home {
    height: 100vh;
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 4px solid #fff;
}

header .content {
    padding: 20px;
    margin: -20px 30px 50px 30px;
}

header .navbar {
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}

header .navbar .head {
    font-size: 30px;
    font-weight: 500;
    color: #eef3db;
    text-decoration: none;
}

header .navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0 10px;
}

.navbar .menu a {
    text-decoration: none;
    color: #eef3db;
    font-size: 25px;
    font-weight: 500;
}

.navbar .menu a:hover {
    color: #ffff00;
}

.text-content {
    width: 40%;
    margin: 100px 0 0 50px;
    color: #eef3db;
}

.text-content h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-content h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
}

.text-content h3 {
    font-size: 28px;
    font-weight: 600;
}

h3 .text {
    color : #ffff00;
} 

.text-content p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.6;
}

.icons {
    margin-left: 40px;
}

.icons i {
    text-align: center;
    font-size: 20px;
    color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #eef3db;
    line-height: 43px;
    margin: 14px 5px;
    transition: all 0.3s ease;
}

.icons a:nth-child(1) i:hover {
    color: #2980b0;
    background: #fff;
}

.icons a:nth-child(2) i:hover {
    color: #333;
    background: #fff;
}

.icons a:nth-child(3) i:hover {
    color: #e1306c;
    background: #fff;
}

button {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background: #ffff00;
    color: #000;
    border-radius: 10px;
    border: none;
    margin-left: 40px;
    margin-top: 10px;
}

button:hover {
    background: #5a5a03fe;
    color: rgb(11, 128, 154);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/** about section **/

#about {
    min-height: 100vh;
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 4px solid #fff;
    padding: 60px 38px;
}

header .title {
    font-size: 25px;
}

header .heading {
    display: flex;
    justify-content: center;
    padding: 24px;
    margin-top: -20px;
}

.heading .title {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    width: 60%;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
    background: #ffff00;
    text-transform: uppercase;
}

.topic1 {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
    background: #ffff00;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}

.introduction p {
    color: #eef3db;
    font-size: 18px;
    padding: 0 20px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education .box {
    height: 150px;
    width: 70%;
    background: #057786;
    padding: 24px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box h5 {
    font-size: 20px;
    margin: 16px 0 24px;
    color: #eef3db;
}

.box h6 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #ffff00;
}

.topic2 {
    font-size: 40px;
    font-weight: 600;
    color: #eef3db;
    margin-bottom: 8px;
    padding: 24px;
}

/** skill section **/

#skills {
    min-height: 100vh;
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 4px solid #fff;
    padding: 60px 38px;
}

/** experience section **/

#experience {
    min-height: 100vh;
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 4px solid #fff;
    padding: 60px 38px;
}

/** contact section **/

#contact {
    min-height: 100vh;
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 4px solid #fff;
    padding: 60px 38px;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 25px;
    color: #eef3db;
    line-height: 1.4;
}

.container .input-box {
    height: 50px;
    width: 600px;
    margin: 12px 0;
}

.container .input-box input::placeholder,
.container .input-box textarea::placeholder {
    color: #b6cbce;
}

.container .input-box input:focus,
.container .input-box textarea:focus {
    border: 1px solid #ffff00;
    outline: none;
}


.container .input-box input,
.container .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #057786;
    color: #b6cbce;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.container .input-box textarea {
    padding-top: 10px;
}

.container .message-box {
    min-height: 110px;
}

.container .button {
    display: inline-block;
    margin-top: 6px;
}

.container .button input[type="button"] {
    color: #000;
    width: 600px;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #ffff00;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    background: #5a5a03fe;
    color: rgb(11, 128, 154);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/** footer **/

footer {
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    padding: 24px 48px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

footer .wrapper p {
    font-size: 16px;
    color: #b6cbce;
    margin-bottom: 16px;
    margin-top: 10px;
}

footer .wrapper .icon {
    display: flex;
    padding: 0 12px;
}

#icon {
    margin: 0px 5px; 
}