@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#home {
    height: 100vh;
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 4px solid #fff;
}

header .content {
    padding: 20px;
    margin: -20px 30px 50px 30px;
}

header .navbar {
    width: 100%;
    display: flex;
    padding: 35px 50px;
    justify-content: space-between;
}

header .navbar .head {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

header .navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0 10px;
}

.navbar .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.navbar .menu a:hover {
    color: #ffff00;
}

.text-content {
    width: 40%;
    margin: 100px 0 0 50px;
    color: #fff;
}

.text-content h4 {
    font-size: 20px;
    font-weight: 600;
}

.text-content h2 {
    font-size: 40px;
    font-weight: 700;
}

.text-content h3 {
    font-size: 27px;
    font-weight: 600;
}

h3 .text {
    color : #ffff00;
} 

.text-content p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.6;
}

.icons {
    margin-left: 40px;
}

.icons i {
    text-align: center;
    font-size: 20px;
    color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 43px;
    margin: 14px 5px;
    transition: all 0.3s ease;
}

.icons a:nth-child(1) i:hover {
    color: #2980b0;
    background: #fff;
}

.icons a:nth-child(2) i:hover {
    color: #333;
    background: #fff;
}

.icons a:nth-child(3) i:hover {
    color: #e1306c;
    background: #fff;
}

button {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background: #ffff00;
    color: #000;
    border-radius: 10px;
    border: none;
    margin-left: 40px;
    margin-top: 10px;
}

button:hover {
    background: #5a5a03fe;
    color: rgb(11, 128, 154);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/** #about **/

#about {
    height: 100vh;
    width: 100%;
    background: #022a30;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 4px solid #fff;
}